[submodule "luci/luci-theme-argon"]
	path = luci/luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
[submodule "luci/luci-app-homeproxy"]
	path = luci/luci-app-homeproxy
	url = https://github.com/immortalwrt/homeproxy
